<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row class="titulo">
      <ion-col size="12"><ion-title color="primary"> LOGIN</ion-title></ion-col>
    </ion-row>
    <ion-row class="contenedor">
      <ion-col size="12">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-input label="Correo" labelPlacement="floating" required
              formControlName="email" type="text" ngDefaultControl></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Contraseña" labelPlacement="floating" required
              formControlName="password" type="password" ngDefaultControl></ion-input>
          </ion-item>
          <ion-button block expand="block" color="primary" type="submit">
            INGRESAR
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>